/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.blue-subtitle {
    color: rgba(0,132,253,255);
    font-size: 22px;
    font-weight: bold;
}

section:nth-of-type(2n+0) {
    background-color: rgba(151,146,228,255);
}

/* Button rules */
.btn {
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 18px;
    display: inline-block;
    margin: 15px 0;
    text-align: center;
}

.blue-btn {
    color: white;
    background-color: rgba(0,132,253,255);
}

.white-btn {
    color: black;
    background-color: white;
}

.circle-violet-btn {
    padding: 10px 15px;
    border-radius: 50%;
    background-color: rgba(151,146,228,255);
}
/* Header */
header {
    height: 100px;
    width: 100%;
    background-color: rgba(0,132,253,255);
    position: fixed;
    z-index: 1000;
}

nav.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mobile-menu {
    display: none;
}

.mobile-menu .white-icon {
    display: block;
    text-align: center;
    font-size: 40px;
    color: white;
}

#nav-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
}

#nav-menu li a {
    padding: 10px 15px;
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Main */

#developer-section {
    padding-top: 200px;
    padding-bottom: 100px;
}

.row-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* COL CTA */

.col-cta {
    width: 65%;
    border-radius: 15px;
    display: flex;
    background-color: rgba(181,221,255,255);
}

.col-cta-left {
    margin-left: 5%;
    margin-top: 5%;
    width: 45%;
    height: 80%;
}

.col-cta-left p {
    margin: 20px 0;
    font-size: 18px;
}

.col-cta-right {
    width: 50%;
    height: 100%;
    text-align: center;
}

.cta-image-wrapper {
    align-self: center;
    height: 100%;
    width: 100%;
}

.col-cta-right img {
    height: 100%;
    max-width: 50%;
    object-fit: cover;
}

/* COL */
.col {
    width: 30%;
    border-radius: 15px;
    text-align: center;
}

#developer-section .col {
    background-color: rgba(181,221,255,255);
}

.col-content-wrapper {
    height: 90%;
    width: 90%;
    margin: 5% 5%;
}

.col .blue-icon {
    display: block;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: rgba(0,132,253,255);
}

.col .blue-subtitle {
    padding: 0 20px;
}

.col p {
    margin-top: 20px;
    font-size: 18px;
}

/* Planning section */
.planning {
    height: 100%;
    width: 100%;
    display: flex;
}

.planning.left,
.planning.right {
    width: 50%;
    height: 80%;
    margin: 5% 0;
    display: flex;
}

.planning-content {
    width: 70%;
    padding-left: 30%;
    padding-right: 10%;
}

.planning-content img {
    max-width: 100%;
}

.planning-title {
    display: block;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.planning-text {
    color: white;
}

.planning-right-wrapper {
    margin-top: 15%;
    width: 40%;
    background-color: white;
    border-radius: 25px;
    align-self: flex-end;
    text-align: center;
}

.planning-right-wrapper img {
    max-width: 80%;
    width: 80%;
    padding: 10%;
    display: block;
}

.planning-right-title {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0;
    
}

#planning-right-text {
    font-style: oblique;
    margin: 0 10px;
}
/* Testimonials */
#testimonials {
    padding-bottom: 100px;
}

#testimonials .container {
    display: block;
}

.testimonials-text {
    height: 20%;
    margin: 40px 0;
    text-align: center;
}

.testimonials-text h2 {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 40px;
}

.testimonials-text h3 {
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 40px;
    color: rgba(151,146,228,255);
}

.testimonials-text p {
    font-size: 24px;
}

#testimonials .col {
    width: 100%;
    padding: 25px 0;
    margin-bottom: 25px;
    background-color: rgba(151,146,228,255) ;
}

 .col.testimonials {
    border-radius: 35px;
    display: flex;
    align-items: center;
 }

 .col.testimonials .left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .testimonials-img-wrapper {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 250px;

 }

 .col.testimonials .left img {
    position: absolute;
    bottom: 0;
    left: -50px;
    max-width: 150%;
 }

 .col.testimonials .right {
    width: 70%;
    color: white;
    text-align: start;
 }

 .col.testimonials .right h2 {
    padding-top: 30px;
    font-size: 20px;
 }
/* Benefits */



/* About us */

.about-us {
    width: 100%;
    height: 80%;
    margin: 10% 0;
    display: flex;
}

.about-us-left,
.about-us-right {
    width: 50%;
    height: 100%;
}

/* CTA */

.cta {
    width: 40%;
    height: 100%;
    margin: 0 30%;
}

/* Footer */
footer {
    background-color: rgb(68, 64, 64);
    height: 150px;
}

.footer-content {
    width: 40%;
    height: 100%;
    margin: 0 30%;
}
/**************************** Responsive rules ****************************/

/***************************** Mobile 480px *****************************/
@media screen and (max-width:480px) {

    .container {
        width: 90%;
    }

    /* Developer section */
    .row {
        display: block;
        width: 100%;
        margin: auto;
    }

    .col-cta {
        width: 90%;
    }

    .col-cta-left {
        margin: 0 5%;
        text-align: center;   
    }

    .col-cta-right {
        width: 90%;
        height: 50%;
        margin: 0 5%;
        padding-top: 20px;
        text-align: center;
    }

    .col {
        width: 90%;
        margin: 20px auto 0;
    }

    /* Testimonials section */

    .col.testimonials,
    .col.testimonials .left {
        display: block;
        text-align: center;
        width: 100%;
    }

    .testimonials-img-wrapper {
        margin: auto;
    }

    .col.testimonials .right {
        padding: 0 15%;
        line-height: 30px;
        text-align: center;
    }
    
}

/***************************** Tablet 768px and mobile 480px common rules *****************************/
@media screen and (max-width:768px) {
    
    /* nav-menu */
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    /* Developer section */
    .col-cta {
        margin: auto;
        display: block;
    }

    .col-cta-left {
        width: 90%;
        height: 50%;
        padding-top: 20px; 
    }

    #col-cta-img {
        max-width: 80%;
    }

    .col-content-wrapper {
        width: 90%;
        margin: 0;
        padding: 5% 5%;
     }

    /* Planning section */

    .planning {
        display: block;
    }


    .planning.left,
    .planning.right {
        width: 100%;
    }

    .planning-content {
        width: 90%;
        margin: 5% 5%;
        padding: 0;
    }

    .planning-right-wrapper {
        width: 100%;
        margin-bottom: 3rem;
    }

    
}

/***************************** Only tablet 768px rules *****************************/

@media screen and (max-width:768px) and (min-width:481px) {
    
    /* Testimonials section */
    #testimonials .col {
        padding: 25px 15px;
    }

    .col.testimonials .left {
        width: auto;
    }

    .testimonials-img-wrapper {
        height: 200px;
        width: 200px;
        margin: 0 15px;
    }
}



/*************************** DEBUGGING RULES ****************************/

/* About us */

.about-us-left,
.about-us-right {
    background-color: aliceblue;
    border: 1px solid black;
}

/* CTA */

.cta {
    background-color: aliceblue;
}

/* footer content */

.footer-content {
    background-color: coral;
}